body{
	background-color:black;
	font-family: Arial;
}

p{
	color: gray;
}

h1{
	color: #F0FF00;
}

form input{
	width:85%;
	text-align: center;
	margin-left:5%;
}

div {
    text-align: center;
}

button{
	width:89%;
	margin-left:5%;
	cursor: pointer;
	background-color: #F0FF00;
	color: black;
}

ol{
	list-style-type: none;
	text-align: center;
	padding-left:0; 
	list-style-position:inside;
}

li{
	padding-bottom: 15px;
	color: white;
}

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.song{
	font-size: 12px;
}

.artist{
	font-size: 11px;
	color: silver;
}

.userlink{
	color: lightblue;
	font-size: 10px;
}

.hyperlink{
	text-align: center;
	vertical-align: auto;
}
